<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBmQH6tZA7OgZfy1jNePBbzkJRAv2xOlJM</string>
	<key>GCM_SENDER_ID</key>
	<string>172696060119</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vinno.vinno</string>
	<key>PROJECT_ID</key>
	<string>vinnote-4747a</string>
	<key>STORAGE_BUCKET</key>
	<string>vinnote-4747a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172696060119:ios:ab8f2e7aeb918e77dbf092</string>
</dict>
</plist>